PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/jobspark?retryWrites=true&w=majority
BETTER_AUTH_SECRET=your_super_secret_string_here_32_chars
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GROQ_API_KEY=your_groq_api_key
CLIENT_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:8000

